body {
  background: #ffffff url($image-folder + "background.jpg");
  font-family: 'Boblic', serif;
  font-size: 21px;
}

h1, h2, h3, h4, h5 {
  text-align: center;
  font-family: 'Nautilus Pompilius', serif;
}

@font-face {
  font-family: 'Nautilus Pompilius';
  src: local('Nautilus Pompilius'), local('NautilusPompilius'), url('/fonts/nautiluspompilius.woff2') format('woff2'), url('/fonts/nautiluspompilius.woff') format('woff'), url('/fonts/nautiluspompilius.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Boblic';
  src: local('Boblic'), url('/fonts/boblic.woff2') format('woff2'), url('/fonts/boblic.woff') format('woff'), url('/fonts/boblic.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 30px;
}

section, header {
  overflow: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

a {
  color: #2763ac;
  &:link, &:hover, &:visited, &:active {
    color: #2763ac;
  }
}

button:focus {outline:0 !important;}
