.no-padding
  padding: 0
  margin: 0

.content
  position: relative
  background-color: #fff
  padding: 0
  +boxShadow(0px 0px 20px 9px rgba(0, 0, 0, 0.3))

#toTop
  position: fixed
  bottom: 30px
  right: 30px

.form-control
  font-size: 19px
  padding: 5px 10px
  +placeholder
    color: #4A86C1

.wow
  visibility: hidden

.modal-body
  overflow: hidden

.modal.fade
  opacity: 1

.modal.fade .modal-dialog, .modal.in .modal-dialog
  -webkit-transform: translate(0, 0)
  -ms-transform: translate(0, 0)
  transform: translate(0, 0)

.form-group
  .ng-dirty.ng-invalid
    background-color: rgba(255, 108, 108, 0.4)
    border-color: #b60000
    +hacks
    +prefixed(transition-duration, "0.5s")
    +prefixed(transition-property, "color, background-color, border-color")
    +prefixed(animation-iteration-count, "1, infinite")
  .ng-dirty.ng-valid
    +hacks
    +prefixed(transition-duration, "0.5s")
    +prefixed(transition-property, "color, background-color, border-color")
  margin-bottom: 8px

.checkbox input[type="checkbox"]
  position: relative
  width: 20px
  height: 20px

.modal-large
  width: 90%
  
.notice
  color: darkred
  
.fakelink
  cursor: pointer

  

.fade.ng-hide
  opacity: 0

.fade.ng-hide-remove,
.fade.ng-hide-add
  display: block !important

.fade.ng-hide-remove
  transition: all linear 400ms

.l-field-error-holder
  position: relative
  
.l-field-error
  text-align: right
  border-bottom-left-radius: 10px
  border-bottom-right-radius: 10px
  position: absolute
  color: white
  font-size: 15px
  background-color: darkred
  padding: 1px 10px
  top: 0
  right: 3px
  z-index: 10
  &-left
    border-radius: 10px
    right: auto
    left: 0