.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Ошибка
.modal-body
    div Произошла техническая ошибка при передаче данных. Возможно отсутствует соединение с интернетом.
    div Если ошибка повторяется, Вы можете связаться с нами по адресу #[a(href="mailto:info@enotavto.ru") info@enotavto.ru].
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
