.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Сообщение отправлено
.modal-body
    .color-green
        p Уважаемый(-ая) {{ data.name }}!
        div Ваше сообщение успешно отправлено, Вам обязательно ответят.
        div Спасибо!
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
