.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Заказ отправлен
.modal-body
    .color-green
        p Уважаемый(-ая) {{ data.name }}!
        div Ваш заказ успешно отправлен. В ближайшее время с Вами свяжется наш менеджер.
        div Спасибо!
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
