.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Перенаправление для оплаты
.modal-body
    div Пожалуйста, подождите. Сейчас Вы будете перенаправлены для оплаты заказа.
.modal-footer

