.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Ошибка
.modal-body
    div В процессе оплаты произошла техническая ошибка. Приносим свои извинения.
    div По данному вопросу Вы можете обратиться по телефону #[span(style="white-space:nowrap") 8 (800) 5555 66 7] (звонок из регионов бесплатный) 
        | или E-mail #[a(href="mailto:support@chronopay.com") support@chronopay.com], #[a(href="mailto:info@enotavto.ru") info@enotavto.ru].
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
