.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Оплата заказа
.modal-body
    .color-green
        h2 Спасибо!
        div Оплата успешно выполнена. Наш менеджер свяжется с Вами по вопросу получения заказа.
.modal-footer
    button.btn.btn-primary(ng-click='closeModal()') Закрыть
