.modal-header
    i.fa.fa-times(ng-click='closeModal()')
    h3.modal-title.text-left Оплата заказа
.modal-body.ng-cloak#dopay-modal(ng-init="payment.trySubmit = false")
    form(data-ng-cloak="", name="paymentForm", ng-submit='(!paymentForm.$invalid) ? pay() : null; payment.trySubmit = true', novalidate='', autocomplete='off')
        fieldset
            .form-group
                input.form-control(name='number', ng-model='payment.number', ng-pattern='/^[0-9]{5}$/', type='text', placeholder='Введите пятизначный номер заказа', required='', ng-class="{'ng-dirty': (paymentForm.number.$dirty || payment.trySubmit)}")
                div.l-field-error-holder
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.number.$dirty) && paymentForm.number.$error.required") Введите номер заказа
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.number.$dirty) && (paymentForm.number.$invalid && !paymentForm.number.$error.required)") Введите пятизначный номер заказа
            .form-group
                input.form-control(name='amount', ng-model='payment.amount', ng-pattern='/^[0-9]{1,7}$/', type='text', placeholder='Введите сумму к оплате в рублях', required='', ng-class="{'ng-dirty': (paymentForm.amount.$dirty || payment.trySubmit)}")
                div.l-field-error-holder
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.amount.$dirty) && paymentForm.amount.$error.required") Введите сумму
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.amount.$dirty) && (paymentForm.amount.$invalid && !paymentForm.amount.$error.required)") Допускаются только цифры
            .form-group
                input.form-control(name='email', ng-model='payment.email', type='email', placeholder='Email', required="true", ng-class="{'ng-dirty': (paymentForm.email.$dirty || payment.trySubmit)}")
                div.l-field-error-holder
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.email.$dirty) && (paymentForm.email.$error.required)") Введите Email
                    div.l-field-error.fade(ng-show="(payment.trySubmit || paymentForm.email.$dirty) && (paymentForm.email.$invalid && !paymentForm.email.$error.required)") Неверный формат Email
            .form-group
                textarea.form-control(name='notice', ng-model='payment.notice', placeholder='Примечание к платежу (не обязательно)')
        .checkbox
            label(for='agreement')
                input#agreement(name='agreement', ng-model='payment.agreement', type='checkbox', required="")
                | &nbsp;Я соглашаюсь с условиями #[a(class="fakelink", data-ng-click="openAgreement()", target="_blank") Договора-оферты] 
            div.l-field-error-holder(ng-show="(payment.trySubmit || paymentForm.agreement.$dirty) && !payment.agreement")
                div.l-field-error.l-field-error-left.fade Необходимо принять условия Договора-оферты

        .text-center
            button.btn-orange.btn.btn-warning(type='submit', ng-disabled='payment.loading || (paymentForm.$invalid && payment.trySubmit)')
                span(ng-show='payment.loading')
                    i.fa.fa-refresh.fa-spin
                |  Оплатить
