doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        title Енот - автозапчасти в Ростове-на-Дону
        link(rel='stylesheet', href='css/animate.min.css')
        link(rel='stylesheet', href='css/styles.css')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='apple-touch-icon', sizes='57x57', href='/favicon/apple-icon-57x57.png')
        link(rel='apple-touch-icon', sizes='60x60', href='/favicon/apple-icon-60x60.png')
        link(rel='apple-touch-icon', sizes='72x72', href='/favicon/apple-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='76x76', href='/favicon/apple-icon-76x76.png')
        link(rel='apple-touch-icon', sizes='114x114', href='/favicon/apple-icon-114x114.png')
        link(rel='apple-touch-icon', sizes='120x120', href='/favicon/apple-icon-120x120.png')
        link(rel='apple-touch-icon', sizes='144x144', href='/favicon/apple-icon-144x144.png')
        link(rel='apple-touch-icon', sizes='152x152', href='/favicon/apple-icon-152x152.png')
        link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-icon-180x180.png')
        link(rel='icon', type='image/png', sizes='192x192', href='/favicon/android-icon-192x192.png')
        link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='96x96', href='/favicon/favicon-96x96.png')
        link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
        link(rel='manifest', href='/favicon/manifest.json')
        meta(name='msapplication-TileColor', content='#ffffff')
        meta(name='msapplication-TileImage', content='/favicon/ms-icon-144x144.png')
        meta(name='theme-color', content='#ffffff')
    body#top(ng-app='app', ng-cloak='')
        #content.container.content(ng-controller='app.landing.LandingController as lc')
            header#header
                div.slides(bg-slides='4.jpg;3.jpg;5.jpg;1.jpg;2.jpg', images-folder='/images/slides/', data-transition='2000', data-time='6000')
                    .row
                        .col-sm-12.text-right
                            .top-menu.menu
                                ul
                                    li
                                        a.hvr-radial-out(href='#info', du-smooth-scroll, offset="45")
                                            i.fa.fa-info
                                            |   о компании
                                    li
                                        a.hvr-radial-out(href='#actions', du-smooth-scroll, offset="45")
                                            i.fa.fa-credit-card
                                            |   порядок оплаты
                                    li
                                        a.hvr-radial-out(href='#location', du-smooth-scroll, offset="45")
                                            i.fa.fa-location-arrow
                                            |   контакты
                                    li
                                        a.hvr-radial-out(href='#question', du-smooth-scroll, offset="45")
                                            i.fa.fa-question
                                            |   задать вопрос
                                    li
                                        button(ng-click="lc.openPayment()") оплатить заказ
                                    li.phone-number
                                        | 8 (961) 416 61 64
                    .hatch
                        .container.header-bg
                            .row
                                .col-sm-5.col-md-6.col-lg-6.text-center
                                    .wow.slideInLeft.head-logo
                                        .logo
                                        .logo-caption
                                            h1 Енот
                                            hr.spring
                                            | автозапчасти
                                    .service
                                        a(href="http://www.enotauto.ru") Енот - Автосервис
                                .col-sm-7.col-md-6.col-lg-5
                                    .wow.slideInRight(data-wow-delay='0.5s')
                                        .top-form
                                            .order-form
                                                h2(ng-init="order.trySubmit = false") Подбор запчасти 
                                                .hint Для оформления заказа, можно подобрать запчасть как по #[a(class="fakelink", data-ng-click="type='name'") наименованию], так и по #[a(class="fakelink", data-ng-click="type='number'") номеру], если он Вам известен
                                                form(name='orderForm', ng-submit='(!orderForm.$invalid) ? lc.sendOrder() : null; order.trySubmit = true', novalidate='', autocomplete='off')
                                                    fieldset
                                                        .form-group
                                                            input.form-control(name='fio', ng-model='order.fio', type='text', placeholder='Ваше имя', required='', ng-class="{'ng-dirty': (order.trySubmit || orderForm.fio.$dirty)}")
                                                            div.l-field-error-holder
                                                                div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.fio.$dirty) && orderForm.fio.$error.required") Введите ваше имя
                                                        .row
                                                            .col-sm-6
                                                                .form-group
                                                                    input.form-control(name='email', ng-model='order.email', type='email', placeholder='Email', required='', ng-class="{'ng-dirty': (order.trySubmit || orderForm.email.$dirty)}")
                                                                    div.l-field-error-holder
                                                                        div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.email.$dirty) && orderForm.email.$error.required") Введите Email
                                                                        div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.email.$dirty) && (orderForm.email.$invalid && !orderForm.email.$error.required)") Неверный формат Email
                                                            .col-sm-6
                                                                .form-group
                                                                    input.form-control(name='phoneNumber', ng-model='order.phoneNumber', type='text', placeholder='Номер телефона', masked-input='+7 (999) 999-99-99')
                                                        
                                                        ul.nav.nav-tabs(data-ng-init="type='name'")
                                                            li(data-ng-class="{'active': type=='name'}", data-ng-click="type='name'")
                                                                a(class="fakelink") По наименованию
                                                            li(data-ng-class="{'active': type=='number'}", data-ng-click="type='number'")
                                                                a(class="fakelink") По номеру

                                                        div.tab-pane(data-ng-hide="type=='number'")
                                                            .form-group
                                                                textarea.form-control(name='partsName', ng-model='order.partsName', data-ng-required="type=='name'", placeholder='Наименование запчастей', ng-class="{'ng-dirty': (order.trySubmit || orderForm.partsName.$dirty)}")
                                                                div.l-field-error-holder
                                                                    div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.partsName.$dirty) && orderForm.partsName.$error.required") Наименование запчастей
                                                            .row
                                                                .col-sm-6
                                                                    .form-group
                                                                        input.form-control(name='carMark', ng-model='order.carMark', type='text', placeholder='Марка авто', data-ng-required="type=='name'", ng-class="{'ng-dirty': (order.trySubmit || orderForm.carMark.$dirty)}")
                                                                        div.l-field-error-holder
                                                                            div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.carMark.$dirty) && orderForm.carMark.$error.required") Введите марку авто
                                                                .col-sm-6
                                                                    .form-group
                                                                        input.form-control(name='carModel', ng-model='order.carModel', type='text', placeholder='Модель', data-ng-required="type=='name'", ng-class="{'ng-dirty': (order.trySubmit || orderForm.carModel.$dirty)}")
                                                                        div.l-field-error-holder
                                                                            div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.carModel.$dirty) && orderForm.carModel.$error.required") Введите модель авто
                                                            .form-group
                                                                input.form-control(name='vin', ng-model='order.vin', type='text', placeholder='VIN-код', data-ng-required="type=='name'", ng-class="{'ng-dirty': (order.trySubmit || order.carMark.$dirty)}")
                                                                div.l-field-error-holder
                                                                    div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.vin.$dirty) && orderForm.vin.$error.required") VIN-код
                                                            .row
                                                                .col-sm-6
                                                                    .form-group
                                                                        input.form-control(name='volume', ng-model='order.volume', type='text', placeholder='Объем двигателя', data-ng-required="type=='name'", ng-class="{'ng-dirty': (order.trySubmit || order.carMark.$dirty)}")
                                                                        div.l-field-error-holder
                                                                            div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.volume.$dirty) && orderForm.volume.$error.required") Введите объем двигателя
                                                                .col-sm-6
                                                                    .form-group
                                                                        input.form-control(name='year', ng-model='order.year', type='text', placeholder='Год выпуска авто', data-ng-required="type=='name'", ng-class="{'ng-dirty': (order.trySubmit || order.year.$dirty)}")
                                                                        div.l-field-error-holder
                                                                            div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.year.$dirty) && orderForm.year.$error.required") Введите год выпуска авто
                                                        
                                                        
                                                        div.tab-pane(data-ng-show="type=='number'")
                                                            .form-group
                                                                textarea.form-control(name='partsNumber', ng-model='order.partsNumber', placeholder='Номер или номера запчастей списком', data-ng-required="type=='number'", ng-class="{'ng-dirty': (order.trySubmit || orderForm.partsNumber.$dirty)}")
                                                                div.l-field-error-holder
                                                                    div.l-field-error.fade(ng-show="(order.trySubmit || orderForm.partsNumber.$dirty) && orderForm.partsNumber.$error.required") Номер запчасти
                                                        .checkbox
                                                            label(for='install')
                                                                input#install(name='install', ng-model='order.install', type='checkbox')
                                                                | &nbsp;Требуется установка заказанной запчасти 
                                                                span.color-blue *
                                                    
                                                        button.btn-orange.btn.btn-warning(type='submit', ng-disabled='order.loading || (orderForm.$invalid && order.trySubmit)')
                                                            span(ng-show='order.loading')
                                                                i.fa.fa-refresh.fa-spin
                                                            |  Заказ подбора запчасти
                                                .notice
                                                    span.color-blue *
                                                    |  При установке на сервисе партнера предоставляется скидка
                                            

            section#dopay.section-normal
                h2 Оплатить заказ
                .text-center
                    p Если у Вас уже есть данные для оплаты, то Вы можете
                    button.btn-orange.btn.btn-warning(data-ng-click="lc.openPayment()") Оплатить заказ
                    div.dogovor
                        a(href="/#/agreement", data-ng-click="lc.openAgreement()") Договор-оферта
            section#info.section-dark
                h2 О компании
                p.text-center
                    | Магазин «Енот» рад приветствовать Вас в числе своих клиентов!
                    br
                    | Магазин «Енот» работает для эффективного удовлетворения Ваших потребностей при ремонте автомобиля.
                .row
                    .col-md-4.clearfix.text-center
                        .hvr-grow
                            .wow.bounceInLeft.animated.hvr-grow
                                #quality
                            .info-txt
                                | Мы предлагаем проверенные торговые марки производителей запасных частей, успешно зарекомендовавшие себя при эксплуатации в российских условиях.
                    .col-md-4.clearfix.text-center
                        .hvr-grow
                            .wow.zoomIn.animated(data-wow-delay='0.2s')
                                #persons
                            .info-txt
                                | Для обеспечения лучших условий для наших клиентов, мы установили деловые контакты с ведущими поставщиками запасных частей на территории РФ, что позволяет нам предлагать конкурентоспособные розничные цены за счет увеличенных объемов закупок.
                    .col-md-4.clearfix.text-center
                        .hvr-grow
                            .wow.bounceInRight.animated(data-wow-delay='0.1s')
                                #parts
                            .info-txt
                                | Мы предлагаем линейку запасных частей от премиум класса до бюджетного,
                                | что позволит Вам выбрать нужный товар в зависимости от предпочтений и возможностей ну и конечно мы всегда порекомендуем Вам оптимальное предложение, опираясь на наш опыт.
                .row
                    .col-md-4.clearfix.text-center
                        .hvr-grow
                            .wow.bounceInLeft.animated(data-wow-delay='0.2s')
                                #time
                            .info-txt
                                | Мы обеспечим своевременную поставку запасных частей со своего склада.
                    .col-md-4.clearfix.text-center
                        .hvr-grow
                            .wow.zoomIn.animated(data-wow-delay='0.4s')
                                #lookup
                            .info-txt
                                | Используя оригинальные сервисные программы и каталоги, наши специалисты грамотно подберут для Вашего автомобиля требуемые запасные части и рабочие жидкости.
                    .col-md-4.clearfix.text-center
                        .hvr-grow
                            .wow.bounceInRight.animated(data-wow-delay='0.3s')
                                #communication.picture
                            .info-txt
                                | При обращении к нам с запросом, мы всегда дадим квалифицированный ответ, как по подбору или заказу автозапчастей, так и по ремонту и техническому обслуживанию Вашего автомобиля.
                p.no-padding.text-center С нами Вы экономите время и деньги!
            section#actions.section-gray
                h2 Порядок оплаты и получения заказа
                .circles.wow(data-wow-offset="100")
                    .circles--arrow-up1
                    .circles--arrow-down1
                    .circles--arrow-up2
                    .circles--arrow-down2
                    .circles--circle1
                        span Заполните форму #[br]
                            a(href='#top', du-smooth-scroll) "Заказ запчасти"
                    .circles--circle2
                        span Перейдите по ссылке#[br] #[a(class="fakelink", data-ng-click="lc.openPayment()") "Оплатить заказ"]#[br]в сообщении либо на сайте
                    .circles--circle3
                        span Заберите Ваш заказ в оговоренных с нашим менеджером времени и месте
                    .circles--circle4
                        span Получите сообщение с номером заказа, наименованием, стоимостью запчастей и итоговой суммой
                    .circles--circle5
                        span Заполните платежную форму и оплатите заказ

                    svg#zigzag-artboard(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='606', height='265', viewbox='0 0 606 265', version='1.1')
                        g(transform='translate(-55.000000, -18.000000)')
                            path#zigzag(fill='none', d='M58 25L206 276 357 25 506 276 658 24', stroke='#9BB3CB', stroke-width='7')

                    svg#hline-artboard(width='8px', height='986px', viewbox='0 0 8 986', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                        g(transform='translate(-242.000000, -168.000000)')
                            path#hline(fill='none', stroke='#9AB2CA', stroke-width='7', d='M246.333333,168.5 L246.333333,1153.01586')

            section#location.section-normal.section-without-padding
                    .row
                        .col-sm-12
                            h2 Контакты
                            | Россия, г.Ростов-на-Дону, проспект Шолохова, 308
                            br
                            | тел. 8 (961) 416 61 64
                            br 
                            br 
                    .row
                        .col-sm-12.no-padding
                            script(type='text/javascript', charset='utf-8', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=9F2BfIG4I2ygSBDHblICPDlASydvu3oY&width=100%&height=400&lang=ru_RU&sourceType=constructor')
                    .row
                        .col-sm-12
                            br
                            div ИП Дергачева Ольга Петровна, ИНН 616611690520, ОГРНИП 316619600051812
                            div Юридический адрес: 344029, г. Ростов-на-Дону, проспект Сельмаш, 14
                            div
                                a(href="mailto:info@enotavto.ru") info@enotavto.ru
                            br
                            br
            section#question.section-gray
                .row
                    .col-sm-12.text-center
                        h2(ng-init="message.trySubmit = false") Задать вопрос
                        form.col-sm-6.col-sm-offset-3(name='messageForm', ng-submit='(!messageForm.$invalid) ? lc.sendMessage() : null; message.trySubmit = true', novalidate='', autocomplete='off')
                            fieldset
                                .form-group
                                    input.form-control(name='fio', ng-model='message.fio', type='text', placeholder='Ваше имя', required='', ng-class="{'ng-dirty': (message.trySubmit || messageForm.fio.$dirty)}")
                                    div.l-field-error-holder
                                        div.l-field-error.fade(ng-show="(message.trySubmit || messageForm.fio.$dirty) && messageForm.fio.$error.required") Введите ваше имя
                                .form-group
                                    input.form-control(name='email', ng-model='message.email', type='email', placeholder='Email', required='', ng-class="{'ng-dirty': (message.trySubmit || messageForm.email.$dirty)}")
                                    div.l-field-error-holder
                                        div.l-field-error.fade(ng-show="(message.trySubmit || messageForm.email.$dirty) && messageForm.email.$error.required") Введите Email
                                        div.l-field-error.fade(ng-show="(message.trySubmit || messageForm.email.$dirty) && (messageForm.email.$invalid && !messageForm.email.$error.required)") Неверный формат Email
                                .form-group
                                    textarea.form-control(name='content', ng-model='message.content', placeholder='Ваш вопрос', required='', ng-class="{'ng-dirty': (message.trySubmit || messageForm.content.$dirty)}")
                                    div.l-field-error-holder
                                        div.l-field-error.fade(ng-show="(message.trySubmit || messageForm.content.$dirty) && messageForm.content.$error.required") Введите Ваш вопрос
                            button.btn-orange.wow.bounceIn.btn.btn-warning(data-wow-duration='1.4s', type='submit', ng-disabled='message.loading || (messageForm.$invalid && message.trySubmit)')
                                span(ng-show='message.loading')
                                    i.fa.fa-refresh.fa-spin
                                |  Отправить
            footer#footer
                .row(style='margin-bottom: 15px')
                    .col-md-2
                        include counter.html
                    .col-md-10.text-right
                        .cards
                            .cards--card-visa
                            .cards--card-mastercard
                .row
                    .col-md-12
                        span Design & programming by #[a(href="https://webengine.ru") E.Kokhanovsky] ©2016
            button#toTop.btn.btn-info.hvr-bounce-to-bottom(du-smooth-scroll='', data-href='#top')
                i.fa.fa-arrow-up
                span.hidden-sm.hidden-xs  Наверх
        script(src='js/vendor.min.js')
        script(src='js/app.min.js')
