
<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Оплата заказа</h3>
</div>
<div class="modal-body">
  <div class="color-green">
    <h2>Спасибо!</h2>
    <div>Оплата успешно выполнена. Наш менеджер свяжется с Вами по вопросу получения заказа.</div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="closeModal()" class="btn btn-primary">Закрыть</button>
</div>