
<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Перенаправление для оплаты</h3>
</div>
<div class="modal-body">
  <div>Пожалуйста, подождите. Сейчас Вы будете перенаправлены для оплаты заказа.</div>
</div>
<div class="modal-footer"></div>