
<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Оплата заказа</h3>
</div>
<div id="dopay-modal" ng-init="payment.trySubmit = false" class="modal-body ng-cloak">
  <form data-ng-cloak="" name="paymentForm" ng-submit="(!paymentForm.$invalid) ? pay() : null; payment.trySubmit = true" novalidate="" autocomplete="off">
    <fieldset>
      <div class="form-group">
        <input name="number" ng-model="payment.number" ng-pattern="/^[0-9]{5}$/" type="text" placeholder="Введите пятизначный номер заказа" required="" ng-class="{'ng-dirty': (paymentForm.number.$dirty || payment.trySubmit)}" class="form-control"/>
        <div class="l-field-error-holder">
          <div ng-show="(payment.trySubmit || paymentForm.number.$dirty) &amp;&amp; paymentForm.number.$error.required" class="l-field-error fade">Введите номер заказа</div>
          <div ng-show="(payment.trySubmit || paymentForm.number.$dirty) &amp;&amp; (paymentForm.number.$invalid &amp;&amp; !paymentForm.number.$error.required)" class="l-field-error fade">Введите пятизначный номер заказа</div>
        </div>
      </div>
      <div class="form-group">
        <input name="amount" ng-model="payment.amount" ng-pattern="/^[0-9]{1,7}$/" type="text" placeholder="Введите сумму к оплате в рублях" required="" ng-class="{'ng-dirty': (paymentForm.amount.$dirty || payment.trySubmit)}" class="form-control"/>
        <div class="l-field-error-holder">
          <div ng-show="(payment.trySubmit || paymentForm.amount.$dirty) &amp;&amp; paymentForm.amount.$error.required" class="l-field-error fade">Введите сумму</div>
          <div ng-show="(payment.trySubmit || paymentForm.amount.$dirty) &amp;&amp; (paymentForm.amount.$invalid &amp;&amp; !paymentForm.amount.$error.required)" class="l-field-error fade">Допускаются только цифры</div>
        </div>
      </div>
      <div class="form-group">
        <input name="email" ng-model="payment.email" type="email" placeholder="Email" required="true" ng-class="{'ng-dirty': (paymentForm.email.$dirty || payment.trySubmit)}" class="form-control"/>
        <div class="l-field-error-holder">
          <div ng-show="(payment.trySubmit || paymentForm.email.$dirty) &amp;&amp; (paymentForm.email.$error.required)" class="l-field-error fade">Введите Email</div>
          <div ng-show="(payment.trySubmit || paymentForm.email.$dirty) &amp;&amp; (paymentForm.email.$invalid &amp;&amp; !paymentForm.email.$error.required)" class="l-field-error fade">Неверный формат Email</div>
        </div>
      </div>
      <div class="form-group">
        <textarea name="notice" ng-model="payment.notice" placeholder="Примечание к платежу (не обязательно)" class="form-control"></textarea>
      </div>
    </fieldset>
    <div class="checkbox">
      <label for="agreement">
        <input id="agreement" name="agreement" ng-model="payment.agreement" type="checkbox" required=""/>&nbsp;Я соглашаюсь с условиями <a data-ng-click="openAgreement()" target="_blank" class="fakelink">Договора-оферты</a> 
      </label>
      <div ng-show="(payment.trySubmit || paymentForm.agreement.$dirty) &amp;&amp; !payment.agreement" class="l-field-error-holder">
        <div class="l-field-error l-field-error-left fade">Необходимо принять условия Договора-оферты</div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit" ng-disabled="payment.loading || (paymentForm.$invalid &amp;&amp; payment.trySubmit)" class="btn-orange btn btn-warning"><span ng-show="payment.loading"><i class="fa fa-refresh fa-spin"></i></span> Оплатить</button>
    </div>
  </form>
</div>