
<div class="modal-header"><i ng-click="closeModal()" class="fa fa-times"></i>
  <h3 class="modal-title text-left">Ошибка</h3>
</div>
<div class="modal-body">
  <div>В процессе оплаты произошла техническая ошибка. Приносим свои извинения.</div>
  <div>По данному вопросу Вы можете обратиться по телефону <span style="white-space:nowrap">8 (800) 5555 66 7</span> (звонок из регионов бесплатный) или E-mail <a href="mailto:support@chronopay.com">support@chronopay.com</a>, <a href="mailto:info@enotavto.ru">info@enotavto.ru</a>.</div>
</div>
<div class="modal-footer">
  <button ng-click="closeModal()" class="btn btn-primary">Закрыть</button>
</div>