#actions

  %circle
    background:
      image: url(/images/circles.png)
      repeat: no-repeat
    +size(220px)
    line-height: 220px
    text-align: center
    padding: 0 20px
    font-size: 18px
    display: inline-block
    span
      display: inline-block
      vertical-align: middle
      line-height: 20px
    a
      font-weight: bold
    position: absolute
    z-index: 1
    top: 0
    left: 0

  %arrow
    position: absolute
    z-index: 5
    top: 0
    left: 0
    +size(40px)
    background:
      image: url(/images/circles.png)
      repeat: no-repeat
      position: -126px -1105px
    @media (max-width: $screen-md)
      background-position: -176px -1005px
      
  %arrow-up
    @extend %arrow
    background-position: -176px -1105px
  %arrow-d
    @media (max-width: $screen-md)
      @extend %arrow
      left: 94px
      background-position: -126px -1163px
      
  .circles
    position: relative
    margin: 0 auto

    text-align: center
    #zigzag-artboard, #hline-artboard
      display: none

    &--circle1
      @extend %circle
    &--circle2
      @extend %circle
      background-position: 0 -440px
    &--circle3
      @extend %circle
      background-position: 0 -880px
    &--circle4
      @extend %circle
      background-position: 0 -220px
    &--circle5
      @extend %circle
      background-position: 0 -660px

    @media (min-width: $screen-md)
      width: 817px
      height: 442px
      #zigzag-artboard
        display: block
        margin: 0 auto
        position: absolute
        z-index: 0
        top: 101px
        left: 107px
      
      &--arrow-down1
        @extend %arrow
        top: 237px
        left: 177px
  
      &--arrow-down2
        @extend %arrow
        top: 237px
        left: 477px
  
      &--arrow-up1
        @extend %arrow-up
        top: 192px
        left: 327px
  
      &--arrow-up2
        @extend %arrow-up
        top: 192px
        left: 627px


      &--circle2
        left: 298px
      &--circle3
        left: 596px
      &--circle4
        top: 248px
        left: 147px
      &--circle5
        left: 447px
        top: 248px

    @media (max-width: $screen-md)
      width: 220px


      &--arrow-down1
        @extend %arrow-d
        top: 225px

      &--arrow-down2
        @extend %arrow-d
        top: 718px

      &--arrow-up1
        @extend %arrow-d
        top: 471px

      &--arrow-up2
        @extend %arrow-d
        top: 966px
      
      
      #hline-artboard
        display: inline-block
        margin-top: 108px
        margin-bottom: 98px
      &--circle2
        top: 492px
      &--circle3
        top: 987px
      &--circle4
        top: 245px
      &--circle5
        top: 739px
      
      
  .animated

    .circles
      &--circle1
        +bounceIn(1, 1s, 0s)
      &--circle2
        +bounceIn(1, 1s, 2s)
      &--circle3
        +bounceIn(1, 1s, 4s)
      &--circle4
        +bounceIn(1, 1s, 1s)
      &--circle5
        +bounceIn(1, 1s, 3s)
      

      &--arrow-down1
        +rotateIn(1, 1s, 1s)
  
      &--arrow-down2
        +rotateIn(1, 1s, 3s)
  
      &--arrow-up1
        +rotateIn(1, 1s, 2s)
  
      &--arrow-up2
        +rotateIn(1, 1s, 4s)
        
    #zigzag, #hline-artboard
      stroke-dasharray: 1200
      stroke-dashoffset: 1200
      animation: dash 4s linear forwards
      
    #hline-artboard
      animation: dash 6s linear forwards

    @keyframes dash
      to
        stroke-dashoffset: 0

