#agreement
  ul.numbers
    li
      list-style: none
      margin-left: 10px
  p
    margin-bottom: 20px
  ul
    margin-bottom: 40px
    li
      list-style: disc
      margin-left: 30px
      margin-bottom: 10px
  h3
    text-align: left
    margin-top: 40px
    margin-bottom: 30px
  
  p.download-agreement
    margin-top: 50px