/* SECTIONS

%section
  padding-bottom: 50px
  @extend .container
  +boxShadow(inset 0 10px 36px -15px rgba(0, 0, 0, 0.75))
  h2
    margin-bottom: 20px

.section-normal
  @extend %section

.section-gray
  @extend %section
  +boxShadow(inset 0 15px 20px -13px rgba(0, 0, 0, 0.2))
  background-color: #EAEBEA

.section-dark
  text-shadow: -1px -1px 2px rgba(0, 0, 0, 0.8)
  @extend %section
  +boxShadow(inset 0 15px 20px -13px rgba(0, 0, 0, 0.5))
  background-color: #326394
  color: #fff
  .emphasis
    color: #ffffbb

.section-without-padding
  padding-bottom: 0

/* buttons

.btn-orange
  color: black
  font-size: 21px
  width: 190px
  padding: 5px
  @extend .hvr-float-shadow

.modal-header .fa
  float: right
  color: silver
  font-size: 29px
  cursor: pointer
  @extend .hvr-pulse
  &:hover
    color: gray

.modal-dialog
  +fadeInDown(1, 0.3s)

.modal-backdrop
  opacity: 0.5
  +hacks
  +prefixed(transition-duration, "0.5s")
  +prefixed(transition-property, "opacity")

.color-green
  color: green

.color-blue
  color: blue