footer#footer
  span
    font-size: 15px
  a
    color: white
    &:hover
      color: #efefef
  +boxShadow(inset 0px 10px 28px -3px rgba(0, 0, 0, 0.3))
  color: whitesmoke
  padding: 27px 30px
  font-size: 19px
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6)
  background: #25496d url($image-folder + "tail.png") right bottom no-repeat

  %card
    display: inline-block
    vertical-align: middle
    +size(93px 59px)
    margin-right: 10px
    background:
      image: url(/images/circles.png)
      repeat: no-repeat
      position: 0 0
    a
      display: inline-block
      +size(100%)
      text-decoration: none


  .cards
    &--card
      &-visa
        @extend %card
        background-position: 0 -1105px
      &-mastercard
        @extend %card
        background-position: 0 -1163px
      &-uniteller
        @extend %card
        background-position: 0 -1221px

