#header
  margin-top: 44px
  .top-menu
    padding-right: 30px
    height: 45px
    background-color: rgba(0, 68, 124, 0.89)
    color: #fff
    top: 0
    right: 0
    left: 0
    position: fixed
    box-sizing: border-box
    z-index: 10
    a
      text-decoration: none
    ul
      display: inline-block
      .phone-number
          padding-left: 10px
          padding-right: 10px
          color: #ffd601
          i
            margin-right: 10px
      li
        &:first-child
          border-left: 1px solid rgba(0, 0, 0, 0.3)
        float: left
        border-right: 1px solid rgba(0, 0, 0, 0.3)
        line-height: 45px
        a
          color: white
          text-shadow: -1px -1px black
          padding-left: 7px
          padding-right: 7px
          display: block
          border-left: 1px solid #226CAA
          &:hover
            .fa
              +bounceIn
        padding: 0
        margin: 0
        button
          background-color: #c63a00
          border: none
          border-radius: 4px
          line-height: 26px
          margin: 6px 10px 0 10px
          +transition()
          &:hover
            color: black
            background-color: darkorange
        
      text-align: center


  .logo
    background: url($image-folder + "logo.png") no-repeat
    width: 238px
    height: 244px
    display: inline-block
    margin: -3px 4px 0 0

  .logo-caption
    vertical-align: top
    text-align: center
    display: inline-block
    font-family: 'Nautilus Pompilius', serif
    text-transform: lowercase
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5)
    h1
      font-family: 'Nautilus Pompilius', serif
      font-size: 90px
      margin: 0
      color: #ffc520
    font-size: 22px
    letter-spacing: 1px
    color: orange
    margin-top: 0

  .head-logo
    visibility: hidden
  .top-form
    border-radius: 7px
    padding: 20px
    margin-top: 10px
    +boxShadow(2px 2px 10px 5px rgba(0, 0, 0, 0.3))
    background: white
    text-align: center
    .tab-pane
      padding: 10px
      background-color: #ececec
    .hint
      font-size: 17px
      margin-bottom: 10px
    .nav-tabs
      font-size: 16px
      a
        line-height: 1
      li.active
        a
          background-color: #ececec
    textarea[name="partsNumber"]
      height: 160px
    h2
      font-size: 33px
      margin-top: 0
      margin-bottom: 12px
      color: firebrick
    fieldset
      margin-bottom: 8px
    button
      margin-bottom: 10px
    .payment-form
      button
        margin-bottom: 40px
      form
        margin-top: 40px
  hr.spring
    background: url($image-folder + "spring.png") no-repeat center
    height: 33px
    border: none
    margin: 0
  .header-bg
    background: url($image-folder + "logo-bg.jpg") no-repeat

  .service
    margin-top: 20px
    a
      color: black
      text-decoration: none
      font-size: 25px
      display: inline-block
      border-radius: 20px
      padding: 15px
      background: rgb(240, 212, 0) url($image-folder + "service.png") no-repeat
      background-position: bottom center
      background-size: 80%
      +size(220px 220px)

  .hatch
    background-image: url($image-folder + "hatch.png")
    padding-bottom: 20px
    position: relative
  .notice
    margin-top: 20px
    font-size: 16px
  .bg
    background: fixed top center
  overflow: hidden

  .btn-orange
    width: 250px

