$bgWidth: 170px

%infoGraphic
  +size($bgWidth)
  background: url($image-folder + "icons.png") no-repeat
  background-size: $bgWidth
  display: inline-block
  +filter(drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4)))

.info-txt
  font-size: 18px
  margin-bottom: 40px
  line-height: 24px

#parts
  @extend %infoGraphic

#communication
  @extend %infoGraphic
  background-position: 0 (-$bgWidth)

#quality
  @extend %infoGraphic
  background-position: 0 (-$bgWidth * 2)

#persons
  @extend %infoGraphic
  background-position: 0 (-$bgWidth * 3)

#lookup
  @extend %infoGraphic
  background-position: 0 (-$bgWidth * 4)

#time
  @extend %infoGraphic
  background-position: 0 (-$bgWidth * 5)
