@media (max-width: $screen-md) {
  header#header {
    hr.spring {
      background-size: 120px;
      height: 23px;
    }
    .logo {
      background-size: 103px;
      width: 106px;
      height: 100px;
      margin-top: 5px;
      margin-left: -35px;
    }
    .header-bg {
      background-position: 0px -70px;
    }
    .logo-caption {
      h1 {
        font-size: 60px;
      }
      margin-top: -7px;
    }
    .top-form {
      h2 {
        font-size: 25px;
      }
      margin-top: 10px;
    }
  }
}