@media (max-width: $screen-sm)
  #header
    margin-top: 0
    .top-menu
      padding-top: 0
      position: relative
      height: 57px
      ul
        li
          font-size: 15px
          line-height: 28px
          button
            margin: 0 10px
            height: 26px